## En este Notebook mostraremos las varias maneras de cargar Datasets con diferentes fuentes y formatos

Importamos algunas librerías

In [3]:
import pandas as pd
import scipy.io
from scipy.io import arff
import sys

sys.path.append('/home/ia/cursoECI/cursoIV/src/') #  Agregamos el paquete src/data al path de búsqueda 
import DataCollector

In [4]:
# Mostrando la ruta de búsqueda del módulo actual:
for path in sys.path:
    print(path)

/usr/lib/python310.zip
/usr/lib/python3.10
/usr/lib/python3.10/lib-dynload

/home/ia/cursoECI/cursoIV/venv/lib/python3.10/site-packages
../../src/data/
/home/ia/cursoECI/cursoIV/src/
/home/ia/cursoECI/cursoIV/src/

Cargando datos  CSV desde archivo local

In [6]:
data = pd.read_csv('/home/ia/cursoECI/cursoIV/Datasets/raw/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Cargando datos arff heart-statlog (arff) desde archivo

In [7]:
data = arff.loadarff('/home/ia/cursoECI/cursoIV/Datasets/raw/heart(statlog).arff')
df = pd.DataFrame(data[0])
df.nunique()
print(df.head(10))

    age   sex chest pain type  (4 values)  resting blood pressure  \
0  70.0  b'1'                        b'4'                   130.0
1  67.0  b'0'                        b'3'                   115.0
2  57.0  b'1'                        b'2'                   124.0
3  64.0  b'1'                        b'4'                   128.0
4  74.0  b'0'                        b'2'                   120.0
5  65.0  b'1'                        b'4'                   120.0
6  56.0  b'1'                        b'3'                   130.0
7  59.0  b'1'                        b'4'                   110.0
8  60.0  b'1'                        b'4'                   140.0
9  63.0  b'0'                        b'4'                   150.0

   serum cholestoral in mg/dl fasting blood sugar > 120 mg/dl  \
0                       322.0                            b'0'
1                       564.0                            b'0'
2                       261.0                            b'0'
3                       263.0                            b'0'
4                       269.0                            b'0'
5                       177.0                            b'0'
6                       256.0                            b'1'
7                       239.0                            b'0'
8                       293.0                            b'0'
9                       407.0                            b'0'

  resting electrocardiographic results (values 0,1,2)  \
0                                               b'2'
1                                               b'2'
2                                               b'0'
3                                               b'0'
4                                               b'2'
5                                               b'0'
6                                               b'2'
7                                               b'2'
8                                               b'2'
9                                               b'2'

   maximum heart rate achieved exercise induced angina  \
0                        109.0                    b'0'
1                        160.0                    b'0'
2                        141.0                    b'0'
3                        105.0                    b'1'
4                        121.0                    b'1'
5                        140.0                    b'0'
6                        142.0                    b'1'
7                        142.0                    b'1'
8                        170.0                    b'0'
9                        154.0                    b'0'

   oldpeak = ST depression induced by exercise relative to rest  \
0                                                2.4
1                                                1.6
2                                                0.3
3                                                0.2
4                                                0.2
5                                                0.4
6                                                0.6
7                                                1.2
8                                                1.2
9                                                4.0

  the slope of the peak exercise ST segment  \
0                                      b'2'
1                                      b'2'
2                                      b'1'
3                                      b'2'
4                                      b'1'
5                                      b'1'
6                                      b'2'
7                                      b'2'
8                                      b'2'
9                                      b'2'

   number of major vessels (0-3) colored by flourosopy  \
0                                                3.0
1                                                0.0
2                                                0.0
3                                                1.0
4                                                1.0
5                                                0.0
6                                                1.0
7                                                1.0
8                                                2.0
9                                                3.0

  thal: 3 = normal; 6 = fixed defect; 7 = reversable defect class
0                                               b'3'         b'2'
1                                               b'7'         b'1'
2                                               b'7'         b'2'
3                                               b'7'         b'1'
4                                               b'3'         b'1'
5                                               b'7'         b'1'
6                                               b'6'         b'2'
7                                               b'7'         b'2'
8                                               b'7'         b'2'
9                                               b'7'         b'2'

Guardando un dataset

In [8]:
path = '/home/ia/cursoECI/cursoIV/Datasets/raw/heart(statlog).arff'
with open(path, 'w', encoding='utf-8-sig') as f:
        df.to_csv(f)
        print(df.head(10))

    age   sex chest pain type  (4 values)  resting blood pressure  \
0  70.0  b'1'                        b'4'                   130.0
1  67.0  b'0'                        b'3'                   115.0
2  57.0  b'1'                        b'2'                   124.0
3  64.0  b'1'                        b'4'                   128.0
4  74.0  b'0'                        b'2'                   120.0
5  65.0  b'1'                        b'4'                   120.0
6  56.0  b'1'                        b'3'                   130.0
7  59.0  b'1'                        b'4'                   110.0
8  60.0  b'1'                        b'4'                   140.0
9  63.0  b'0'                        b'4'                   150.0

   serum cholestoral in mg/dl fasting blood sugar > 120 mg/dl  \
0                       322.0                            b'0'
1                       564.0                            b'0'
2                       261.0                            b'0'
3                       263.0                            b'0'
4                       269.0                            b'0'
5                       177.0                            b'0'
6                       256.0                            b'1'
7                       239.0                            b'0'
8                       293.0                            b'0'
9                       407.0                            b'0'

  resting electrocardiographic results (values 0,1,2)  \
0                                               b'2'
1                                               b'2'
2                                               b'0'
3                                               b'0'
4                                               b'2'
5                                               b'0'
6                                               b'2'
7                                               b'2'
8                                               b'2'
9                                               b'2'

   maximum heart rate achieved exercise induced angina  \
0                        109.0                    b'0'
1                        160.0                    b'0'
2                        141.0                    b'0'
3                        105.0                    b'1'
4                        121.0                    b'1'
5                        140.0                    b'0'
6                        142.0                    b'1'
7                        142.0                    b'1'
8                        170.0                    b'0'
9                        154.0                    b'0'

   oldpeak = ST depression induced by exercise relative to rest  \
0                                                2.4
1                                                1.6
2                                                0.3
3                                                0.2
4                                                0.2
5                                                0.4
6                                                0.6
7                                                1.2
8                                                1.2
9                                                4.0

  the slope of the peak exercise ST segment  \
0                                      b'2'
1                                      b'2'
2                                      b'1'
3                                      b'2'
4                                      b'1'
5                                      b'1'
6                                      b'2'
7                                      b'2'
8                                      b'2'
9                                      b'2'

   number of major vessels (0-3) colored by flourosopy  \
0                                                3.0
1                                                0.0
2                                                0.0
3                                                1.0
4                                                1.0
5                                                0.0
6                                                1.0
7                                                1.0
8                                                2.0
9                                                3.0

  thal: 3 = normal; 6 = fixed defect; 7 = reversable defect class
0                                               b'3'         b'2'
1                                               b'7'         b'1'
2                                               b'7'         b'2'
3                                               b'7'         b'1'
4                                               b'3'         b'1'
5                                               b'7'         b'1'
6                                               b'6'         b'2'
7                                               b'7'         b'2'
8                                               b'7'         b'2'
9                                               b'7'         b'2'

Cargando datos desde archivo .mat (Matlab)

In [10]:
mat = scipy.io.loadmat('/home/ia/cursoECI/cursoIV/Datasets/raw/COIL20.mat')
X = mat['X']    # data
print(X)
y = mat['Y']    # label
y = y[:, 0]

[[0.01568627 0.01568627 0.01568627 ... 0.01568627 0.01568627 0.01568627]
 [0.01960784 0.01960784 0.01960784 ... 0.01960784 0.01960784 0.01960784]
 [0.01568627 0.01568627 0.01568627 ... 0.01568627 0.01568627 0.01568627]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

Cargando utilizando DataCollector script

In [11]:
data= DataCollector.get_penguins_dataset()
data.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [12]:
data= DataCollector.get_pima_dataset()
data.describe()

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000